.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.queryResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  background: rgb(72, 104, 232);
  height: 80%;
  width: 100%;
}

.image {
  padding: 0.5rem;
  max-width: 14rem;
}

.colors {
  justify-content: center;
}

.search {
  vertical-align: middle;
  height: 20%;
}

.searchInput {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.cardDisplay {
  text-align: center;
  display: block;
}

.cardDisplayTitle {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.selectedCardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textCloseCardDisplay {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-size: 0.8rem;
}

.listSuggestion {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

ul li {
  font-size: 20px;
}

 h1 {
  margin: 10px;
  font-size: 40px;
}